
{% extends 'base.html' %}{% load static %}

{% block content %}
{%if items %}



<section class="" style="background-color: #eee;height:auto;">
  <div class="container  py-5" style="background-color: #eee;height:auto;">
    <div class="row d-flex justify-content-center align-items-center" style="background-color: #eee;height:auto;">
      <div class ="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>
{% for item in items %}
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="/media/{{ item.product.image1 }}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ item.product.product_name }}</p>
                <p><span class="text-muted">Category: </span>{{ item.product.category.category_name }} </p>
              <p><span class="text-muted">Price: </span>{{ item.product.price|floatformat:2 }}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                <div class="d-flex">

						<div class="quantity">
							<img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart mt-5" src="{% static '/images/3+arrow-up.png' %}" style="width:10%;">
   <p class="quantity mx-0">{{ item.quantity }}</p>
							<img  data-product="{{ item.product.id }}" min=1 data-action="remove" class="chg-quantity update-cart" src="{% static  '/images/2+arrow-down.png' %}" style="width:10%;margin-top:-55px;">
              {%for message in messages%}
              <p class="text-danger"> {{message}}</p>
            {%endfor%}
            </div>

</div>

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">₹{{ item.get_total }}/-</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="{% url 'deletecart' item.id '1' %}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


        <div class="card">
          <div class="card-body d-flex flex-row" style="justify-content:space-around;">
            <div>
            <a href="{% url 'shipping' %}"><button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button></a>
          </div>
               <div class="" >

                <h5 class="mb-0">Items: {{ order.get_cart_items }}</h5>

            </div>

            <div class="" >

                <h5 class="mb-0">₹ {{ order.get_cart_total }}</h5>

            </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
{%else%}
<div class="container-fluid  mt-100  "style="background-color: #eee;">
  <div class="row">
  
   <div class="col-md-12" style="background-color: #eee;">
   
       <div class="card " style="background-color: #eee;">

     <div class="card-body cart" style="background-color: #eee;">
         <div class="col-sm-12 empty-cart-cls text-center" style="background-color: #eee;">
           <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
           <h3><strong>Your Cart is Empty</strong></h3>
           <h4>Add something to make me happy :)</h4>
           <a href="{% url 'home' %}" class="btn btn-danger cart-btn-transform m-3" data-abc="true">continue shopping</a>
           
         
         </div>
     </div>
 </div>
     
   
   </div>
  
  </div>
 
 </div>
<style>
  @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important;
}

.mt-100{
   margin-top:100px;

}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #4466f2!important;
    border-color: #4466f2!important;
}
</style>
{%endif%}
{% endblock content %}