{% extends 'base.html' %}{% load static %}

{% block content %}

<form action="{% url 'password_change' user.id %}" method="post">
    {% csrf_token %}
    <section class=" container mt-5 ">
        <div class="card mt-5 bg-light border-dark" style="width: 50%; margin-left:25%; height: 370px;">
            <div class="text-center mt-4 bg-dark text-white pt-1" style="height: 40px;">
                <span><b>Change Password</b></span>
            </div>
    <div class="mt-4" style="margin-left: 20%;">
    <div>
        <label for=""></label>
    </div>
    <div>
        <input name="currentpass" placeholder="Current Password" class="form-control text-center form-control-sm border-dark" type="password" style="width: 80%;">
    </div>
</div>
<div style="margin-left: 20%;">
    <div>
        <label for=""></label>
    </div>
    <div >
        <input name="newpass" placeholder="New Password" class="border-dark form-control form-control-sm text-center" type="password" style="width: 80%; ">
    </div>
</div>
<div style="margin-left: 20%;">
    <div>
        <label for=""></label>
    </div>
    <div>
        <input name="repeatpass" placeholder="Repeat Password" class="border-dark form-control form-control-sm text-center" type="password" style="width: 80%; ">
    </div>
</div>
<div class="mt-4" style="margin-left: 20%;">
    <button type="submit" class="btn border-dark bg-dark text-white" style="width: 80%; ">Reset</button>
</div>
</div>
</section>
</form>


{% endblock content %}