{% extends 'base.html' %}{% load static %}

{% block content %}
<section>
    <div class="container">

<div class="d-flex justify-content-center align-items-center">
  
<a href="{% url 'userprofile' user.id %}"><button class=" btn text-black"><b>Account Information</b></button></a>
<a href="{% url 'order_userside' user.id %}"><button class=" btn text-danger"><b>Order</b></button></a>
<a href="{% url 'wishlists' user.id %}"> <button class="btn text-black"> <b>Wishlist</b></button></a>
</div>
<hr>
</div>
<div class="">
    <div class=" card col-md-12">
        <table class="table table-light text-dark ">
<thead>

</thead>
{% if orders %}
{% for i in orders %}
<tbody>

<tr class="">
<td style="width: 20%;"><img class="" style="width: 100%;" src="/media/{{ i.product.image1 }}" alt=""></td>
<td class="pt-5">{{ i.product }}</td>
<td class="pt-5">{{ i.price }}</td>
<td class="pt-5">{{ i.active }}</td>
<td class="pt-5">{{ i.quantity }}</td>






<td  class="pt-5">
    <div>
  <form name="editform" action="" method="post">
      {% csrf_token %}
      <input class="btn bg-success text-white" type="submit" name="Edit" value="View">

  </form>
</div>
</td>
<td class="pt-5">
  <div >
  {% if i.active == 'ordered' %}
  <form name="editform" action="{% url 'cancel' i.id '1' %}" method="post">
    {% csrf_token %}
    <input class="btn bg-danger text-white" type="submit" name="Edit" value="Cancel">

</form>
{% endif %}
</div>
</td>
<td>
   

</td>
</tr>

</tbody>
{% endfor %}
{% endif %}
            
</table>

    </div>
</div>
</section>




{% endblock content %}