{% extends 'base1.html' %}


{% block content %}



    <div class="container">
        <div class="row">

            <div class="d-flex justify-content-evenly">
<div class="input-group" style="width: 50%;">
    <form action="{% url 'searchdata' %}" method="post">
         {% csrf_token %}
  <div class="form-outline ">
    <input name="query" type="search" id="form1" class="form-control bg-dark text-white" />
    <label class="form-label" for="form1">Search</label>
      <button type="submit" class="btn btn-dark text-center" style="width:34%;height:55%;margin-left: 101%;
    margin-top: -130px;" value="submit">
      Search
  </button>
  </div>

        </form>
</div>
<div class="" style="width: 50%;">
  <form action="{% url 'filterOrder' %}" method="post" class="d-flex">
    {% csrf_token %}
  <select  name="status" class="bg-dark text-white form-control" style="width: 50%;" id="">

    <option value="orderes"></option>
    <option value="pending">Pending</option>
    <option value="delivered">Delivered</option>
    <option value="out of delivery">Out of Shipping</option>
    <option value="is_returned">Return</option>   
    <option value="Cancelled">Cancelled</option>
    
  </select>
  <button class="btn bg-dark" type="submit">Submit</button>
</form>
</div>


</div>

            <div class="col-md-12">
                <table class="table table-light text-dark">
  <thead>
    <tr>
      
      <th scope="col">Custumer</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
        <th scope="col " ></th>
        <th scope="col " ></th>
        <th scope="col " ></th>


    </tr>
  </thead>
  {% if status %}
{% for i in status %}
  <tbody>

    <tr>

      <td>{{ i.account }}</td>
      <td>{{ i.product }}</td>
      <td>{{ i.price }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.ordered }}</td>
        <td></td>
        
        <td>
          <a href="{% url 'order_view' i.id %}" class="text-hover text-warning" style="text-decoration: none;"> View </a>
        </td>
      <td class="">
        <div >
        {% if i.status == 'pending' %}
        <form name="editform" action="{% url 'cancel' i.id '1' %}" method="post">
          {% csrf_token %}
          <input class="btn bg-danger text-white" type="submit" name="Edit" value="Cancel">
      
      </form>
      {% endif %}
      </div>
      </td>
    </tr>

  </tbody>
{% endfor %}
                    {% endif %}
                    
</table>

            </div>
        </div>
    </div>

{% endblock content%}