{% extends 'base1.html' %}


{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center display-4">Product</h1>
            </div>
<div class="input-group">
    <form action="{% url 'searchdata' %}" method="post">
         {% csrf_token %}
  <div class="form-outline ">
    <input name="query" type="search" id="form1" class="form-control bg-dark text-white" />
    <label class="form-label" for="form1">Search</label>
      <button type="submit" class="btn btn-dark text-center" style="width:34%;height:55%;margin-left: 101%;
    margin-top: -130px;" value="submit">
      Search
  </button>
  </div>

        </form>
</div>



            <div class="col-md-12">
                <table class="table table-light text-dark">
  <thead>
    <tr>
 
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th></th>
        <th scope="col"><div class="mt-4">

</div></th>


    </tr>
  </thead>
  {% if order %}
{% for i in order %}
  <tbody>

    <tr>

      <td>{{ i.account }}</td>
      <td>{{ i.orderitems.product }}</td>
        <td>{{ i.quantity }}</td>

        <td>{{ i.active }}</td>
        
      <td>
          <form name="editform" action="{% url 'order_view' i.id %}" method="post">
              {% csrf_token %}
              <input class="btn bg-success text-white" type="submit" name="Edit" value="View">

          </form>
      </td>
        <td>
           

        </td>
    </tr>

  </tbody>
{% endfor %}
                    {% endif %}
                    
</table>

            </div>
        </div>
    </div>

{% endblock %}