{% extends 'base1.html' %}


{% block content %}
<div class="d-flex" style="justify-content: space-evenly;">
<form action="{% url 'salesReport' %}" style="width: 26%;"  method="post" class="">
  {% csrf_token %}
  <input id="datepicker" name="datepicker"  class="bg-light" width="276"/>
</form>
<a href="{% url 'weekly' %}" class="mx-1" style="width: 7%;"><button class="btn bg-dark text-white">weekly</button></a>
<form action="{% url 'monthly' %}" class="d-flex" method="post" style="width: 15%;">
  {% csrf_token %}
  <select name="monthly" class="bg-dark text-white select-hover form-control " id="" style="width:100%;">
    <option value="0" selected>Monthly</option>
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nav</option>
    <option value="12">Dec</option>
  </select>
  <button type="submit" class="bg-dark btn text-white" style="height: 38px;">Get</button>
</form>

<form action="{% url 'Yearly' %}" class="d-flex" method="post" style="width: 15%;">
  {% csrf_token %}
  <select name="year" class="bg-dark text-white select-hover form-control " id="" style="width:100%;">
    <option value="0" selected>Yearly</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
  </select>
  <button type="submit" class="bg-dark btn text-white" style="height: 38px;">Get</button>
</form>
<button class="btn btn-dark btn-xs mx-1" style="width:15%;" id="download-pdf">Download as Pdf</button>
<a href=" {% url 'export_as_excel'  %}" class="btn btn-dark btn-xs mx-1" style="width: 15%;"> Download as Excel</a></span>
</div>

<div class="table-responsive mt-5">
    <table class="table table-striped table-hover table-bordered table-sm table-light border-light w-100" id="example">
      <thead >
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>     
          <th scope="col">Customer</th>   
          <th scope="col">Time</th>   
          <th scope="col">Payment</th>   
         </tr>
      </thead>
      <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr>
          <th scope="row"></th>
          <td>{{ order.product }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.price }}</td>
          <td>{{ order.account }}</td>
          <td>{{ order.ordered }}</td>
          <td>{{ order.payment }}</td>
        </tr>
{% endfor %}
{% else %}
<tr><p class="text-center">There is no Order at This Date</p></tr>
      </tbody>
  {% endif %}
    </table>

       <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            format:'yyyy-mm-dd'
        });
        $('#datepick').datepicker({
            uiLibrary: 'bootstrap4',
            format:'yyyy-mm-dd'
        });
        </script>
        <script>
            
        </script>
        <script>
            $('input[name="daterangenew"]').daterangepicker({
              maxDate: new Date()
            });
          </script>
          
          <script type="text/javascript">
              document.getElementById('download-pdf').onclick = function(){
                  var element  = document.getElementById('example')
                  var opt = {
                      margin : 0.1 ,
                      filename: 'myfile.pdf',
                      image    : {type: 'jpeg',quality :0.98},
                      html2canvas :{scale :2},
                      jsPDF : {unit: 'in',format: 'letter',orientation:'landscape'}
                  };
                  html2pdf(element,opt);
    };
          
          </script>
  </div>





{% endblock content %}