{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex w-100" >
  <div class=" text-center  text-white sidebar text-black" style="position: fixed;z-index: 10; overflow-y: scroll;    height: 637px;scroll-behavior: smooth;width: 15%;margin-top: -5px;background-color: #ffffff;">

    <div class="mt-5 w-75 bg-danger">
      <a href="" style="text-decoration: none;"><p class="text-white text-center" style="font-size: 20px;"><b>CATEGORY</p></b></a>
    </div>
    <div>
    <table class="table bg-white text-dark mt-5 table-hover w-100">
      <tbody>
      {% for cat in category %}
      <tr>
        <td class="col dropdown text-dark">

  <a href="#{{cat.id}}" class="category_name "><b>{{ cat.category_name }} <i class="fas fa-angle-right dropdown"></i></b></a>
<div class="cat-menu mx-2">
{% for i in cat.filtered %}
<div>
<a href="#" id="" onclick="show('{{i.id}}')" class="sub_name">{{i}}<i class="fas fa-angle-right dropdown"></i></a>
</div>
   <div class="hidden mx-2" id="sub-menu{{i.id}}">
    {% for item in i.Products %}
    <div class=""><a href="{% url 'product_view' id=item.id %}" >{{item.product_name}}</a></div>
    <hr>
    {% endfor %}
   </div>
   {% endfor %}
  </div>
      </td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
<div class="mt-5 w-75 bg-danger">
  <a href="" style="text-decoration: none;"><p class="text-white " style="font-size: 20px;"><b>OFFERS</p></b></a>
</div>
<div>
  <table class="table bg-white text-dark mt-2 table-hover w-100">
    <tbody>
      <tr class=" bg-secondary"><td class="">      <div ><b class="text-white w-75 " style="font-size: 15px;">PRODUCT</b></div></td></tr>

    {% for pro in filterProduct %}
    <tr>
    <td >
      <a href="{% url 'product_view' id=pro.id %}"><p class=""><b style="font-size: 13px;">{{ pro.product_name }}</b></p></a>
    </td>
  </tr>
    {% endfor %}
<tr class="bg-secondary"><td>    <div ><b class="text-white" style="font-size: 15px;">CATEGORY</b></div></td></tr>
    {% for cat in filterCategory %}

    <tr>
    <td >
      <a href="{% url 'product_view' id=cat.products.id %}"><p class=""><b style="font-size: 13px;">{{ cat.products }}</b></p></a>
    </td>
  </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

  </div>
  <div class="d-flex flex-column justify-content-between" style="width: 85%;    margin-left: 15%; height: auto;">
<!-- <div class="d-flex flex-column justify-content-between" > -->
  {% for cat in category %}
    <div class="container" id="{{cat.id}}">
<h5 class="text-black mt-3"><span class="text-danger" style="width: 10%; font-size:40px;"><b>|</b></span>{{cat.category_name}}</h5>

</div>

<div class="pro-card mt-2 bg-white"  style="display: flex;flex-direction: column;width: 100%;">
  <div class="container">
  <div class="container row" >

{% for product in cat.products %}
<div class="col-3 mt-3">
<a href="{% url 'product_view' id=product.id %}" class="card product-card  " style="width: 100%;height:350px;text-align:center; display:flex;flex-direction:column; align-items:center;justify-content:center; text-decoration: none; color:black;">
    
  <div style="width:100%;height: 60%;background-image: url(/media/{{product.image1}});background-size:cover;background-repeat: no-repeat;">


</div>
    <div style="    width: 100%;
    height: 10%;
    padding-left: 150px; margin-top: 10px;">
    <div class="text-dark d-flex align-items-center justify-content-center bg-danger text-white" style="
    width: 100%;
        text-align:center;

">
    <span class="tag mt-1" style="font-size:16px;height:30px">₹{{ product.get_product_price }}</span>
    </div>
        </div>
{% if product.get_product_price != product.price %}
        <div class="d-flex justify-content-around text-secondary" style="width: 100%;height: 10%;">
          <p><del><b>{{ product.price }}</b></del></p>
          <p><b class="text-success" style="font-size: 20px;">{{product.offer}}%</b></p>
        </div>
{% else %}
<div class="d-flex justify-content-around text-secondary" style="width: 100%;height: 10%;">

</div>
{% endif  %}
  <div class="card-body text-center" style="width:100%; height: 20%;">
 
      <div>
    <h5 class="card-title" style="font-size:14px;">{{ product.product_name }}</h5>
</div>

  </div>

</a>
</div>
{% endfor %}
</div>
    </div></div>
    {% endfor %}
    </div>
  </div>
  </div>
</div>
<style>
a{
    text-decoration: none;
    color: rgb(22, 22, 22);
}
a:hover{
  color: rgb(202, 56, 56);
}
.sidebar a:hover{
    color: rgb(202, 56, 56);
}
table:hover{
  background-color: blue;
}
.product-card:hover{
  box-shadow: 100rem;
}
.sidebar::-webkit-scrollbar{
  display: none;
}li{
  list-style: none;
}.hidden{
  display: none;
}

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.category_name').click(function(){
      $(this).next('.cat-menu').slideToggle();
    });
  });
  // $(document).ready(function(){
  //   $('#sub_name').click(function(){
  //     $(this).next('.sub-menu').slideToggle();
  //   });
  // });
</script>
<script>
let productIsShown = false
function show(id){

  if (productIsShown){
    document.getElementById('sub-menu'+id).classList.add('hidden')
    productIsShown = false

  }else{
    document.getElementById('sub-menu'+id).classList.remove('hidden')
    productIsShown = true


  }
  
}
</script>
<script type="text/javascript">


</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
{% endblock content %}