
{% extends 'base.html' %}{% load static %}

{% block content %}

{% if key5 %}

<div class="container bg-grey" style="display:flex;">
  <div class="bg-grey" style="width:40%;">
    <div id="img-container">
      <div id="lens"></div>
  <img id="featured" src="/media/{{ key5.image1 }}" style="width:100%;">
</div>
    </div>

  <div class="" style="width:60%;">
    <div class="" style="display:flex;">


                  <div style="width:80%; height:auto;">
                    <h4 style="font-size:50px">{{ key5.product_name }}</h4>
                          </div>
                          {% if get_product_price == 0 %}
        <div class="price-tag text-danger" style="width:20%;font-size:25px"><b> ₹{{ key5.get_product_price }} </b></div>
{% else %}
<div class="price-tag text-dark" style="width:20%;font-size:25px"><b> <del>₹{{ key5.price }}</del> </b></div>


<div class="price-tag text-danger" style="width:20%;font-size:25px"><b> ₹{{ key5.get_product_price }} </b></div>

{% endif %}


    </div>
    <div class="d-flex justify-content-between">
   
<button data-product="{{ key5.id }}" data-action="add" type="button" class="update-cart btn btn-dark btn-block btn-lg " data-mdb-ripple-color="dark" onclick="addToCart()">Add to Cart</button>

<div class=" mx-3 " style="width: auto;">

  {% if user.is_authenticated  %}
{% if wishlist %}
 <a href="#" onclick="wishlist('{{key5.id}}','{{user.id}}')" id="wishlist-btn" style="text-decoration: none;"><i  class="fa fa-heart text-danger" style="font-size: 30px;"></i></a>

{% else %}
<a href="#" onclick="wishlist('{{key5.id}}','{{user.id}}')" id="wishlist-btn" style="text-decoration: none;"><i  class="bi bi-heart text-danger" style="font-size: 30px;"></i></a>
  {% endif %}
  {% endif %}
</div>

</div>
{%for message in messages%}
<p class="text-danger mt-4"> {{message}}</p>
{%endfor%}

    <div class="mt-5">
  <p>{{ key5.desc }}</p>
      </div>

</div>
</div>
<hr class="container">
{% endif %}
{% endblock content %}