
{% extends 'base.html' %}{% load static %}

{% block content %}

{% if key5 %}

<div class="container bg-grey" style="display:flex;">
  <div class="bg-grey" style="width:50%;">
    <div id="img-container">
      <div id="lens"></div>
  <img id="featured" src="/media/{{ key5.image1 }}" style="width:100%;">
</div>
    </div>

  <div class="" style="width:50%;">
    <div class="" style="display:flex;">
      <div style="width:80%; height:auto;">
  <h4 style="font-size:50px">{{ key5.product_name }}</h4>
        </div>
    <div class="price-tag text-danger" style="width:20%;font-size:25px"><b> ₹ {{ key5.price }} </b></div>

    </div>
    <div class="d-flex justify-content-between">
   
<button data-product="{{ key5.id }}" data-action="add" type="button" class="update-cart btn btn-dark btn-block btn-lg " data-mdb-ripple-color="dark">Add to Cart</button>
<div class=" mx-3 " style="width: auto;">

  {% if user.is_authenticated and wishlist.product.id == product.id %}
  <a href="{% url 'add_wishlist' key5.id user.id '1'  %}"><i class="fa fa-heart" aria-hidden="true" style="font-size: 30px;"></i></a>

    {% elif wishlist.product.id != product.id %}
 <a href="{% url 'add_wishlist' key5.id user.id '1' %}" style="text-decoration: none;"><i  class="bi bi-heart text-danger" style="font-size: 30px;"></i></a>

  {% else %}
  <i class="bi bi-heart text-danger" style="font-size: 30px;"></i>
  {% endif %}
</div>
</div>

    <div class="mt-5">
  <p>{{ key5.desc }}</p>
      </div>
</div>
</div>
<hr class="container">
{% endif %}
{% endblock content %}