
{% extends 'base.html' %}{% load static %}

{% block content %}

{% if key5 %}

<div class="container bg-grey" style="display:flex;">
  <div class="bg-grey" style="width:40%;">
    <div id="img-container">
      <div id="lens"></div>
  <img id="featured" src="/media/{{ key5.image1 }}" style="width:100%;">
</div>
    </div>

  <div class="mx-3" style="width:60%;">
    <div class="" style="display:flex;">


                  <div style="width:80%; height:auto;">
                    <h4 style="font-size:50px">{{ key5.product_name }}</h4>
                          </div>
                          {% if key5.get_product_price == key5.price %}
        
                          <div class="price-tag text-danger" style="width:20%;font-size:25px"><b> ₹{{ key5.get_product_price }} </b></div>
{% else %}
<div class="price-tag text-dark" style="width:20%;font-size:25px"><b> <del>₹{{ key5.price }}</del> </b></div>
<div class="price-tag text-danger" style="width:20%;font-size:25px"><b> ₹{{ key5.get_product_price }} </b></div>
{% endif %}
    </div>

{%if key5.quantity == 0%}
<p class="text-danger mt-4">Out Of Stock</p>
{% else %}
<p class="text-success mt-4">In Stock</p>
{%endif%}

    <div class="mt-5">
      {{ key5.desc }}

      </div>

      <div class="d-flex justify-content-between">
   
        <button data-product="{{ key5.id }}" data-action="add" type="button" class="update-cart btn btn-dark btn-block btn-lg " data-mdb-ripple-color="dark" onclick="addToCart()">Add to Cart</button>
        
        <div class=" mx-3 " style="width: auto;">
        
          {% if user.is_authenticated  %}
        {% if wishlist %}
         <a href="#" onclick="wishlist('{{key5.id}}','{{user.id}}')" id="wishlist-btn" style="text-decoration: none;"><i  class="fa fa-heart text-danger" style="font-size: 30px;"></i></a>
        
        {% else %}
        <a href="#" onclick="wishlist('{{key5.id}}','{{user.id}}')" id="wishlist-btn" style="text-decoration: none;"><i  class="bi bi-heart text-danger" style="font-size: 30px;"></i></a>
          {% endif %}
          {% endif %}
        </div>
        
        </div>


</div>
</div>
<hr class="container">
{% endif %}
<div class="container">
  <div class=""><h5><b>Car</b></h5></div>
  <div>
    People buy cars; and soon the car become like their family member. They develop personal relationships with their cars because they perceive their car as an extension of the self. Car Accessories, after market modifications, car insurance and periodic service gives them a feeling of self-care. People also see power and freedom and adventure in their vehicles. If you are one of those car lovers, I am sure you will enjoy these car quotes.
  </div>
  <div>“When it comes to cars, only two varieties of people are possible – cowards and fools.” <b>– Russell Baker</b></div>
</div>
<div class="mt-5">
  <div class="container">
    <h5>Related Product</h5>
    <div class="row mt-4">
<!-- {% if related_products %}
{{related_products}}
{% endif %} -->
            {% for product in related_products %}
           
            <div class="col-3">
              <a href="{% url 'product_view' id=product.id %}" class="card product-card  " style="width: 100%;height:350px;text-align:center; display:flex;flex-direction:column; align-items:center;justify-content:center; text-decoration: none; color:black;">
                  
                <div style="width:100%;height: 60%;background-image: url(/media/{{product.image1}});background-size:cover;background-repeat: no-repeat;">
              
              
              </div>
                  <div style="    width: 100%;
                  height: 10%;
                  padding-left: 150px; margin-top: 10px;">
                  <div class="text-dark d-flex align-items-center justify-content-center bg-danger text-white" style="
                  width: 100%;
                      text-align:center;
              
              ">
                  <span class="tag mt-1" style="font-size:16px;height:30px">₹{{ product.get_product_price }}</span>
                  </div>
                      </div>
              

              
                <div class="card-body text-center" style="width:100%; height: 20%;">
               
                    <div>
                  <h5 class="card-title" style="font-size:14px;">{{ product.product_name }}</h5>
              </div>
              
                </div>
              
              </a>
              </div>
              {% endfor %}
          </div>

        </div>
    </div>
  </div>


</div>

{% endblock content %}