{% extends 'base1.html' %}
{% load static %}

{% block content %}


    <form class="container" method="post" action="{% url 'product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <center class="mt-5 bg-dark" >
        {% for error in field.errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}
        {% for field in product_form %}

     <div class="form-outline mb-2 container"style="width:auto;color:white;">
           <label class="form-label">{{ field.label_tag }}</label>
           <div class="" >
               {{ field }}
        </div>

</div>

        {% endfor %}

        <button type="submit">Add Product</button>
</center>
        </form>


{% endblock content %}